.container {
  background-color: #373737;
  height: 100%;
  padding: 0;
}

.dog-top {
  margin-top: 5em;
  background-color: #d5ebda;
  width: 100%;
  text-align: center;
}

.dog-top img {
  width: 100%;
  height: auto;
  display: inline-block;
  max-width: 700px;
 /*change to fit your image*/
}

.dog-bottom h1,h2,a {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #d5ebda;
}

.dog-bottom h1 {
  font-size: 3em;
  margin-top: .5em;
  margin-bottom: .2em;
}

.dog-bottom h2 {
  font-size: 1.5em;
}
.dog-bottom a{
  font-size: 1em;
  margin-left: 10px;
}
.dog-bottom a:hover{
  color: #d5ebda;
}
.navigation{
  text-align: center;
  margin-top: 15px;
}