footer {
  background-color: #373737;
  color: rgba(255,255,255,0.7);
}

.social {
}

.social div {
  padding: 5px;
}

.social a {
  margin: 5px;
}

.social img {
  width: 50px;
}

.footer-upper {
  padding: 10px;
}

.footer-upper-container div {
  min-height: 50px;
  line-height: 20px;
}

.footer-upper-container {
  padding: 15px;
}

.footer-upper-container span {
  color: #DBAF47;
}

.footer-upper-container h2 {
  color: #DBAF47;
}

.footer-lower {
  padding: 15px;
  text-align: center;
  color: #333;
  background-color: #fee0ae;
}

.footer-sitemap {
  color: rgba(255,255,255,0.7);
}

.lower-navigation {
  margin-left: auto;
  margin-right: auto;
}

.lower-navigation ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  zoom: 1;
  overflow: hidden;
}

.lower-navigation li {
  padding: 2px;
  width: 150px;
  display: inline-block;
}

.footer-nav a {
  color: rgba(255,255,255,0.7);
}

@media (max-width: 767px) {
  .footer-sitemap {
    margin-top: 20px;
  }

  .footer-upper-container p {
    font-size: 12px;
  }

  .footer-nav {
    display: inline-flex;
  }

  .footer-nav li {
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  footer, .footer-lower {
    width: calc(100% - 250px)!important;
    margin-left: 250px!important;
  }

  .footer-upper {
    width: 100%;
  }
}
