footer{
	min-height: 300px;
	background-color: #f4f4f4;
}
footer h2{
	text-align: center;
}
.lower-navigation{
    margin-left: auto ;
    margin-right: auto ;
}
.lower-navigation ul{
    list-style-type: none;
    text-align: center;
    padding: 0px;
    zoom:1;
    overflow: hidden;
}
.lower-navigation li {
    padding: 2px;
    width: 150px;
    display:inline-block;
}

@media (min-width: 1200px) {
    footer{
    	width: calc(100% - 250px)!important;
        margin-left: 250px!important;
    }
}
