html {
  background-color: #EBEBEB;
  font-size: 16px !important;
  min-width: 300px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0 !important;
  word-wrap: break-word !important;
}

nav {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Lora", sans-serif !important;
}

.main-container {
 /*margin-top: 110px;*/
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  margin-top: 20px;
  min-height: 100px;
}

.introduction {
  border-bottom: 1px solid #CBC9CF;
  padding-bottom: 19px;
}

.introduction h1 {
  font-size: 6em;
  margin: 40px 0px;
  text-align: center;
}

.introduction h2 {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

.introduction-smaller h1 {
  font-size: 5.5em;
  margin: 40px 0px;
  text-align: center;
}

.triangle {
  background-image: url("../images/pattern/triangle.png");
  background-repeat: repeat-x;
  height: 55px;
  margin-top: 91px;
  opacity: .7;
}

.imageClass {
  background-color: teal;
  margin-top: 20px;
  min-height: 500px;
}

.main-content p {
  font-size: 1em;
  line-height: 30px;
}

.main-content h2 {
 /*text-decoration: underline;*/
  border: 2px solid #DBAF47;
  color: #DBAF47;
  float: left;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
  padding: 10px;
}

.main-content h3 {
  font-size: 1.4em;
  margin-top: 0;
}

.content-container {
  background-color: #f5f2e9;
}

.main-content .row {
  border-bottom: 1px solid #CBC9CF;
  padding-bottom: 19px;
}

.main-content .row:last-child {
  border: 0;
  padding-bottom: 40px;
}

.main-content img {
  display: inline-block;
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.index .main-content img {
  max-width: 350px;
  padding: 5px;
}

.profile img {
  float: right;
}

.article img {
  float: right;
  margin: 0 0 30px 20px;
}

/********************************************GALLERY********************************************/

/*For gallery thumbnail callibration*/

.article-stats-property > h3,
.video-overlay:hover,
.video-thumbnail img:hover,
.article-stats-rating {
  margin: 0px 20px 30px 0px;
}

.article-stats-property > div {
  padding: 0;
}

.rating-square {
  background-color: #E6B9B5;
  height: 25px;
  margin-right: 1.6%;
  padding: 0;
}

section > div {
  padding: 20px;
}

.video-thumbnail-container {
  margin-bottom: 40px;
  padding-bottom: 0;
}

.video-thumbnail-container h3 {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-thumbnail {
  position: relative;
}

.video-thumbnail img {
  background-color: black;
  border: 2px solid transparent;
  max-width: none;
  padding: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.video-thumbnail-container h3:hover {
  cursor: pointer;
}

.video-overlay {
  background-color: transparent;
  background-image: url("../images/icons/YouTube-icon-dark.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px 50px;
  color: #FFF;
  display: block;
  height: calc(100% - 40px - 35px) !important;
  left: calc(0% + 20px) !important;
  position: absolute;
  top: calc(0% + 20px) !important;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: calc(100% - 40px) !important;
}

.video-overlay p {
  display: none;
  font-size: 0.9em;
  line-height: 20px;
  padding: 6px;
}

.video-overlay:hover {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../images/icons/YouTube-icon-full_color.png");
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.video-overlay:hover p {
  display: block;
}

/*MEDIA QUERIES*/

/*XXS*/

/*********************************************ZANIMLJIVOSTI*********************************************/

/*************************************************MEDIA*************************************************/

/*XS*/

.gallery-pad {
  padding: 10px;
}

.gallery-thumbnail {
 /*min-width: 200px;*/
  min-height: 200px;
  overflow: hidden;
  position: relative;
}

.gallery-thumbnail img {
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  height: 120%;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
}

.gallery-thumbnail img.portrait {
  height: auto;
  width: 120%;
}

#loading {
  background-color: #fff;
  display: block;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 99;
}

#loading-image {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.zanimljivosti ul {
  list-style-position: inside;
  list-style: disc;
  text-indent: -17px;
}

.zanimljivosti li {
  margin: 5px 0px;
  padding-left: 20px;
}

.zanimljivosti-article {
  padding: 10px;
}

.rating-full {
  background: #E68799;
}

.rating-half {
  background-image: -webkit-linear-gradient(45deg, #E68799 50%, #E6B9B5 50%);
  background-image: linear-gradient(45deg, #E68799 50%, #E6B9B5 50%);
}

@media (min-width: 768px) {

  body {
 /*    font-size: 16px;line-height: 1.3;*/
  }
}

@media (min-width: 992px) {

  body {
 /*    font-size: 18px;line-height: 1.65;*/
  }

  html {
 /*    font-size: 18px;line-height: 1.65;*/
  }
}

@media (min-width: 1200px) {

  .main-container,
#loading-image {
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }

  .article-stats-rating {
    min-width: 525px;
  }

  .main-container {
    margin-top: 20px;
  }

  #loading {
    margin-left: 250px;
    width: calc(100% - 250px) !important;
  }

  .triangle {
    margin-top: 0px;
  }
}

@media (min-width: 1600px) {

  body {
    font-size: 18px;
    line-height: 34px;
  }
}

@media (max-width: 768px) {

/*SM*/

/*MD*/

/*LG*/

  .zanimljivosti li:not(:last-child) {
    margin-bottom: 20px;
  }

  .introduction h2 {
    font-size: 1.2em;
    padding-bottom: 0px;
  }

  .introduction h1 {
    font-size: 3em;
    margin: 20px 0px;
  }

  .introduction-smaller h1 {
    font-size: 11vw;
    font-size: 2em;
  }

  .article-stats-rating {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 520px) {

  .index .main-content img {
    max-width: inherit;
    padding: 5px;
  }

  .main-content h2 {
    font-size: 1em;
    padding: 0px;
    text-align: center;
  }

  .gallery-thumbnail {
    display: inherit;
  }
}

@media (max-width: 480px) {

  .introduction-smaller h1 {
    font-size: 2.5em;
  }
}

