#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    font-family: 'Raleway', sans-serif!important;
    background-color: #333;

    background-image: url("../images/pattern/stressed.png");
    background-repeat: repeat-y;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
/* Sidebar Styles */
.sidebar-logo{
  width: 80%;
  /*opacity: .9;*/
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    padding-top: 30px;
    list-style: none;
    text-align: center;
}
.sidebar-nav li:first-of-type{
    margin-top: 20px;
}
.sidebar-nav li {
    line-height: 60px;
    transition: all 1s;
}
.sidebar-nav li:hover {
    background-color: rgba(66,66,66,0.1);
    color: #DBAF47;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
    transition: all 0.5s;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #DBAF47;
}
.navbar{
    min-width: 300px;
    font-family: 'Raleway', sans-serif!important;
    background-color: #333;

    background-image: url("../images/pattern/stressed.png");
    background-repeat: repeat-x;

}
.navbar-nav{
  text-transform: uppercase;
}
.navbar-logo{
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-brand{
  padding: 0 10px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(max-width:767px) {
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}
}
@media(min-width:1200px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}