//Rewrite to www
RewriteEngine on
RewriteRule ^galerija galerija.html  [nc,l]
RewriteRule ^zanimljivosti zanimljivosti.html  [nc,l]
RewriteRule ^uzgajivacnica uzgajivacnica.html  [nc,l]


//Caching schema
<FilesMatch "\.(js|css|img|png)$">
Header set Cache-Control "private, max-age=36288000"
</FilesMatch>

//Custom 404 errors
ErrorDocument 404 /home/www/404.html

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Prevent directory listings
Options All -Indexes
 