.container-404 {
    /*background-color: #373737;*/
    /*background-color: #d5ebda;*/
    height: 100%;
    padding: 10px;
}

.dog-top {
    margin-top: 5em;
    background-color: #d5ebda;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        height: auto;
        display: inline-block;
        max-width: 700px;
    }

    h1 {
        color: #DBAF47;
        font-size: 3em;
        margin-top: .5em;
        margin-bottom: .2em;
    }

    h2 {
        font-size: 1.5em;
    }

    a {
        font-size: 1em;
        margin-left: 10px;

        &:hover {
            color: #DBAF47;
        }
    }
}


.navigation {
    text-align: center;
    margin-top: 15px;
}