.hidden {
    display: none;
}


html {
    position: relative;
    min-height: 100%;
    -webkit-tap-highlight-color: transparent;
    min-width: 360px;

    @include max-992 {
        font-size: 14px;
    }

    @include max-640 {
        font-size: 12px;
    }


    font-size: 16px;


}

header {
    margin-bottom: 15px;

    @media (max-width: 500px) {
        position: fixed;
        z-index: 1;
        background: white;
        width: 100%;
        box-shadow: 0 1px 1px 0 #0003;
    }
}

body {

    font-family: 'CrimsonText', serif;
    font-weight: 400;
    display: flex;
    position: relative;
    flex-direction: column;
    color: var(--main-font-light);
}

h2,
h3,
h4 {
    font-family: 'CrimsonText', serif;
    line-height: 1.15;
    font-weight: 600;
}

h5 {

    font-family: 'CrimsonText', serif;
    /*font-family: 'IBM Plex Sans', sans-serif;*/
    color: var(--main-font-dark);
    font-size: 2rem;
    font-weight: 400;
    /*letter-spacing: 1px;*/
    margin: 0;
    margin-bottom: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-font-light);
    opacity: .8;
    z-index: 50;
}

.wrap {
    min-height: 100%;

    &.container {
        @media (max-width: 500px) {
            margin-top: 85px;
        }
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    width: 1170px;

    @include max-1200 {
        width: 970px;
    }

    @include max-992 {
        width: 750px;
    }

    @include max-768 {
        width: 100%;
    }


}

main {
    display: flex;
    width: 100%;
    flex-direction: row;

    @include max-992 {
        // flex-direction: column;
    }


    .main-content {
        p {
            margin: 0 0 14px;
            font-size: rem(20px);
            font-family: 'CrimsonText', sans-serif;
            /*font-weight: 600;*/
            color: #888;
            line-height: 1.5;
        }
    }

    >div {
        width: 100%;
    }

    .intro-text {
        padding-left: 10px;

    }

    .image-container {
        padding-right: 10px;
        display: flex;

        img {
            width: 100%;
            /*cursor: pointer;*/
        }

        .image-column {
            flex: 1;

            /*padding: 0px;*/
            img {
                margin-bottom: 10px;
            }
        }

        .image-column.column-l {
            padding-right: 5px;



        }

        .image-column.column-r {
            padding-left: 5px;
        }
    }
}

.belgijski-body {

    .image-container {
        img {
            @include max-1200 {
                width: unset;
                height: 540px;
            }

            @include max-600 {
                width: 100%;
                height: unset;
            }
        }
    }

    main {
        @include max-992 {
            flex-direction: column;
        }

        .intro-text {
            @include max-992 {
                margin-top: 20px;
            }
        }
    }

}

footer {
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100%;
    height: 130px;
    margin-top: rem(50px);
    color: var(--main-font-light);

    font-size: rem(12px);

    strong {
        text-transform: uppercase;
        text-shadow: 1px 1px 2px rgba(40, 40, 40, 0.15);
    }

    p {
        margin: 6px 0px;
    }

    a {
        text-decoration: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .footer-left,
    .footer-right {
        display: flex;


    }

    .footer-left {
        flex-direction: column;
        // flex: 3;
    }

    .footer-right {
        flex-direction: column;
        // flex: 1;
    }

    .social-container {
        margin-top: 1rem;
    }

    .social-icon {
        width: 24px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

#btn-original {
        @media (max-width: 500px) {
            display: none;
        }
}



.lightgallery {

    &.gallery-hidden {
        height: 0;
        visibility: hidden;
    }

    &.gallery-mobile {
        display: none;
        @media (max-width: 500px) {
            display: inline-block;
        }
    }


    a {
        text-decoration: none;
        display: inline-block;
        border: 2px solid transparent;
        /*height: 180px;*/

        &>img {

            @include max-640 {
                height: 150px;
            }

            @include max-450 {
                height: unset;
                width: 100%;
            }

            height: 220px;
            display: inline-block;
            border-radius: 3px;

        }
    }
}

div.gallery {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #CCC;

    &:first-of-type {
        border-top: 2px solid #CCC;

        @media (max-width: 500px) {
            border-top: 0;
        }

    }
}

.gallery-title {
    color: var(--main-font-light);
    font-size: rem(22px);
    margin-bottom: rem(10px);
    margin-top: rem(15px);

}


.pedigree-picker {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-font-light);
    display: flex;

        @media (max-width: 500px) {
            display: none;
        }

    button {
        cursor: pointer;
        padding: 10px 15px;
        background: #373740;
        color: #E9F2EF;
        border: 0;

        &:hover,
        &:focus {
            outline: none;
            border-style: unset;
        }
    }

    ul {
        margin: 0;
        padding: 0px;
        display: flex;
        flex: 1;
        /*display: inline-block;*/
        @include unselectable;

        li {
            display: inline-block;
            // border-bottom: 2px solid transparent;
            cursor: pointer;
            padding: 10px 15px;
            background: $color-font-dark;
            color: #E9F2EF;
            border-right: 1px solid #e9f2ef;

            &.active,
            &:hover {
                // border-bottom: 2px solid #CCC;
                background: var(--main-green);
            }
        }
    }
}