.hidden {
    display: none;
}


html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
    -webkit-tap-highlight-color: transparent;

}

header {
    margin-bottom: 20px;
}

body {

    font-family: 'CrimsonText', serif;
    font-weight: 400;
    display: flex;
    position: relative;
    flex-direction: column;
    color: var(--main-font-light);
}

h2,
h3,
h4 {
    font-family: 'CrimsonText', serif;
    line-height: 1.15;
    font-weight: 600;
}

h5 {

    font-family: 'CrimsonText', serif;
    /*font-family: 'IBM Plex Sans', sans-serif;*/
    color: var(--main-font-dark);
    font-size: 2rem;
    font-weight: 400;
    /*letter-spacing: 1px;*/
    margin: 0;
    margin-bottom: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-font-light);
    opacity: .8;
    z-index: 50;
}

.wrap {
    min-height: 100%;
}

.navbar-header {
    color: var(--main-font-light);
    margin: 0;
    margin-top: 18px;
    display: flex;
    align-items: center;

    h1 {
        font-family: 'SourceSerifPro', serif;
        letter-spacing: 1px;
        font-size: 4rem;
        line-height: 1.15;
        font-weight: 600;
        color: $color-font-dark;
        margin: 0;
    }

    h2 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin: 0;
        padding-left: 4px;
    }

    img {
        width: rem(120px);
        margin-right: 15px;
    }
}

ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    padding: 0;
    font-size: rem(18px);
    text-transform: uppercase;

    li {
        /*flex: 1;*/
        padding: 0 25px 0 0;

        &.active {
            a {
                border-bottom: 2px solid #CCC;
            }
        }

        a {
            color: var(--main-font-light);
            padding: 5px 0;
            text-decoration: none;
            border-bottom: 2px solid #FFF;
            line-height: 28px;

            &:focus,
            &:hover {
                border-bottom: 2px solid #CCC;
            }

        }
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include min-tablet-portrait {
        width: 750px;
    }

    @include min-tablet {
        width: 970px;
    }

    @include min-desktop {
        width: 1170px;
    }
}

main {
    display: flex;
    width: 100%;

    .main-content {
        p {
            margin: 0 0 14px;
            font-size: rem(20px);
            font-family: 'CrimsonText', sans-serif;
            /*font-weight: 600;*/
            color: #888;
            line-height: 1.5;
        }
    }

    >div {
        flex: 1;
    }

    .intro-text {
        padding-left: 10px;
    }

    .image-container {
        padding-right: 10px;
        display: flex;

        img {
            width: 100%;
            cursor: pointer;
            transition: filter .5s ease-in-out;
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);

            &:hover {
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
            }

        }

        .image-column {
            flex: 1;

            /*padding: 0px;*/
            img {
                margin-bottom: 10px;
            }
        }

        .image-column.column-l {
            padding-right: 5px;

        }

        .image-column.column-r {
            padding-left: 5px;
        }
    }
}

footer {
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100%;
    height: 130px;
    margin-top: rem(50px);
    color: var(--main-font-light);

    font-size: rem(12px);

    strong {
        text-transform: uppercase;
        text-shadow: 1px 1px 2px rgba(40, 40, 40, 0.15);
    }

    p {
        margin: 6px 0px;
    }

    a {
        text-decoration: none;
    }

    .container {
        display: flex;
    }

    .footer-left,
    .footer-right {
        display: flex;


    }

    .footer-left {
        flex-direction: column;
        flex: 3;
    }

    .footer-right {
        flex-direction: column;
        flex: 1;
    }

    .social-container {
        margin-top: 1rem;
    }

    .social-icon {
        width: 24px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}



.lightgallery {
    a {
        text-decoration: none;
        display: inline-block;
        border: 2px solid transparent;
        height: 180px;

        &>img {
            height: 180px;
            display: inline-block;
            border-radius: 3px;
        }
    }
}

div.gallery {
margin-bottom: 10px;
padding-bottom: 20px;
    border-bottom: 2px solid #CCC;
    &:first-of-type {
    border-top: 2px solid #CCC;
}
}

.gallery-title {
    color: var(--main-font-light);
    font-size: rem(22px);
    margin-bottom: 5px;
}


.pedigree-picker {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-font-light);

    ul {
        margin: 0;
        padding: 0px;
        display: flex;
        @include unselectable;

        li {
            display: inline-block;
            // border-bottom: 2px solid transparent;
            cursor: pointer;
            padding: 10px 15px;
            background: $color-font-dark;
            color: #E9F2EF;
            border-right: 1px solid #e9f2ef;

            &.active,
            &:hover {
                // border-bottom: 2px solid #CCC;
                background: var(--main-green);
            }
        }
    }
}