/* COLORS */
// $color-green: #5ca58a;
$color-green: #4aab87;
$color-font-dark: #373740;
// $color-font-light: #A5A5A5;
$color-font-light: #717171;

:root {
	--main-green: #{$color-green};
	--main-font-dark: #{$color-font-dark};
	--main-font-light: #{$color-font-light};
}


@function rem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin max-450 {
    @media (max-width: 450px) {
        @content;
    }
}

@mixin max-600 {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin max-640 {
    @media (max-width: 640px) {
        @content;
    }
}

@mixin max-768 {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin max-992 {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin max-1200 {
    @media (max-width: 1199px) {
        @content;
    }
}


@mixin unselectable {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}

.visible-lg {
    display: inline-block;

    @include max-1200 {
        display: none;
    }
}
